{% extends "auctions/layout.html" %}

{% block body %}
    <h2>{{ category }}</h2>

    {% for listing in listings %}
        <div>
            {% if listing.image_url %}
                <img src="{{ listing.image_url }}" alt="{{ listing.title }}">
            {% endif %}
            <h4><a href="{% url 'listing' listing.id %}">{{ listing.title }}</a></h4>
            <p>{{ listing.description }}</p>
            <p>Price: ${{ listing.current_price }}</p>
        </div>
        <hr>
    {% empty %}
        <p>No active listings in this category.</p>
    {% endfor %}
{% endblock %}
